body {
    background-color:hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
}

.qr-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    border-radius: 10px;
    background-color: white;
    max-width: 200px;
    padding: 10px;
}

img {
    border-radius: 10px;
    max-width: 100%;
}

.card-title {
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}

.card-description {
    text-align: center;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    font-size: 10px;
}